<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <packageSources>
    	<add key="nuget.org" value="https://api.nuget.org/v3/index.json" /> 
        <add key="github" value="https://nuget.pkg.github.com/MaxRev-Dev/index.json" />
    </packageSources>
    <packageSourceCredentials>
        <github>
            <add key="Username" value="%API_USER_GITHUB%" />
            <add key="ClearTextPassword" value="%API_KEY_GITHUB%" />
        </github> 
        <nuget.org>
            <add key="Username" value="%API_USER_NUGET%" />
            <add key="ClearTextPassword" value="%API_KEY_NUGET%" />
        </nuget.org>
    </packageSourceCredentials> 
</configuration>
