<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="MaxRev.Gdal.Core" version="3.9.0.326" targetFramework="net461" />
  <package id="MaxRev.Gdal.WindowsRuntime.Minimal" version="3.9.0.326" targetFramework="net461" />
  <package id="System.Runtime.InteropServices.RuntimeInformation" version="4.3.0" targetFramework="net461" />
</packages>