name: Linux Build

on:
  workflow_call:
    inputs:
      is-pre-release:
        type: boolean
        required: true
      dotnet-version:
        type: string
        required: true
      is-version-branch:
        type: boolean
        required: true
      skip:
        type: boolean
        required: true

env:
  DOTNET_INSTALL_DIR: ${{ github.workspace }}/.dotnet/
  VCPKG_DEFAULT_BINARY_CACHE: ${{ github.workspace }}/vcpkg-archives/

jobs:
  BuildNugetPackages-Linux:
    if: ${{ ! inputs.skip }}
    strategy:
      matrix:
        include:
          - os: linux/amd64
            arch: x64
            actions-runner: ubuntu-latest
          - os: linux/arm64
            arch: arm64
            actions-runner: ubuntu-24.04-arm

    runs-on: ${{ matrix.actions-runner }}
    defaults:
      run:
        working-directory: unix

    steps:
      - name: Checkout repository
        uses: actions/checkout@v5.0.1

      - name: NuGet - set credentials
        uses: ./.github/actions/set-credentials
        with:
          api-key-github: ${{ secrets.API_KEY_GITHUB }}
          api-key-nuget: ${{ secrets.API_KEY_NUGET }}
          api-user-github: ${{ secrets.API_USER_GITHUB }}
          api-user-nuget: ${{ secrets.API_USER_NUGET }}

      - name: Restore cached packages
        id: build-packages-cache-restore
        uses: actions/cache@v4
        with:
          path: |
            .dotnet/
            vcpkg-archives/
          key: ${{ matrix.os }}-packages-${{ matrix.arch }}-${{ github.run_id }}
          restore-keys: |
            ${{ matrix.os }}-packages-${{ matrix.arch }}-

      - name: Install CMake
        run: |
          pipx install cmake

      - name: Setup .NET Core SDK
        uses: actions/setup-dotnet@v5.0.0
        with:
          dotnet-version: ${{ inputs.dotnet-version }}

      - name: Install deps
        run: |
          chmod +x ${{ github.workspace }}/unix/before-install.sh
          ${{ github.workspace }}/unix/before-install.sh

      - name: Fetch VCPKG packages
        run: |
          mkdir -p ${{ github.workspace }}/vcpkg-archives/
          make -f vcpkg-makefile BUILD_ARCH=${{ matrix.arch }}

      - name: Init GDAL and PROJ
        run: |
          make -f gdal-makefile init_gdal init_proj BUILD_ARCH=${{ matrix.arch }}

      - name: Compile HDF
        run: |
          make -f gdal-makefile hdf BUILD_ARCH=${{ matrix.arch }}

      - name: Compile PROJ
        run: |
          make -f gdal-makefile proj BUILD_ARCH=${{ matrix.arch }}

      - name: Compile GDAL
        run: |
          make -f gdal-makefile gdal BUILD_ARCH=${{ matrix.arch }} DOTNET_VERSION=${{ inputs.dotnet-version }}

      - name: Collect deps
        run: |
          make -f collect-deps-makefile BUILD_ARCH=${{ matrix.arch }}

      - name: Create packages
        run: |
          make -f publish-makefile pack BUILD_ARCH=${{ matrix.arch }} BUILD_NUMBER_TAIL=${{ github.run_number }}

      - name: Store metadata as artifact
        uses: actions/upload-artifact@v5.0.0
        with:
          name: metadata-unix-${{ matrix.arch }}
          path: |
            shared/bundle/targets/
            package-build/*.csproj
          overwrite: true

      - name: GDAL formats unix
        uses: actions/upload-artifact@v5.0.0
        with:
          name: formats-unix-${{ matrix.arch }}
          path: |
            tests/gdal-formats/*.txt
          overwrite: true

      - name: Store packages as artifact
        uses: actions/upload-artifact@v5.0.0
        with:
          name: packages-unix-${{ matrix.arch }}
          path: nuget/*.nupkg
          overwrite: true

  TestPackages-Linux:
    strategy:
      matrix:
        include:
          - os: linux/amd64
            arch: x64
            actions-runner: ubuntu-latest
          - os: linux/arm64
            arch: arm64
            actions-runner: ubuntu-24.04-arm

    needs: BuildNugetPackages-Linux
    runs-on: ${{ matrix.actions-runner }}
    defaults:
      run:
        working-directory: unix

    steps:
      - name: Checkout repository
        uses: actions/checkout@v5.0.1

      - name: Download artifact
        uses: actions/download-artifact@v6.0.0
        with:
          name: packages-unix-${{ matrix.arch }}
          path: nuget/

      - name: Setup .NET Core SDK
        uses: actions/setup-dotnet@v5.0.0
        with:
          dotnet-version: ${{ inputs.dotnet-version }}

      - name: NuGet - set credentials
        uses: ./.github/actions/set-credentials
        with:
          api-key-github: ${{ secrets.API_KEY_GITHUB }}
          api-key-nuget: ${{ secrets.API_KEY_NUGET }}
          api-user-github: ${{ secrets.API_USER_GITHUB }}
          api-user-nuget: ${{ secrets.API_USER_NUGET }}
      - name: Remove old formats
        run: |
          rm -rf ${{ github.workspace }}/tests/gdal-formats
      - uses: actions/download-artifact@v6.0.0
        name: Download artifact - formats
        with:
          name: formats-unix-${{ matrix.arch }}
          path: "tests/gdal-formats"
          merge-multiple: true

      - name: Test packages
        run: |
          make -f test-makefile BUILD_ARCH=${{ matrix.arch }} BUILD_NUMBER_TAIL=${{ github.run_number }}

  PushPackages-Linux:
    needs: TestPackages-Linux
    runs-on: ubuntu-latest
    defaults:
      run:
        working-directory: unix
    steps:
      - name: Checkout repository
        uses: actions/checkout@v5.0.1

      - name: Download artifact - packages
        uses: actions/download-artifact@v6.0.0
        with:
          pattern: packages-unix*
          path: nuget/
          merge-multiple: true

      - name: Download artifact - metadata
        uses: actions/download-artifact@v6.0.0
        with:
          pattern: metadata-unix*
          merge-multiple: true

      - name: NuGet - set credentials
        uses: ./.github/actions/set-credentials
        with:
          api-key-github: ${{ secrets.API_KEY_GITHUB }}
          api-key-nuget: ${{ secrets.API_KEY_NUGET }}
          api-user-github: ${{ secrets.API_USER_GITHUB }}
          api-user-nuget: ${{ secrets.API_USER_NUGET }}

      - name: Build bundle
        run: |
          make -f publish-makefile pack-bundle-only CAT_NAME=unix PRERELEASE=${{ inputs.is-pre-release }} BUILD_NUMBER_TAIL=${{ github.run_number }}

      - name: Store packages as artifact
        uses: actions/upload-artifact@v5.0.0
        with:
          name: packages-unix-final
          path: nuget/*.nupkg
          overwrite: true

      - name: Push packages
        if: ${{  github.event.pull_request.merged == true || github.ref == 'refs/heads/main' || fromJson(inputs.is-version-branch) }}
        run: |
          make -f ../unix/push-packages-makefile PRERELEASE=${{ inputs.is-pre-release }} INCLUDE_CORE=1 \
            BUILD_NUMBER_TAIL=${{ github.run_number }} API_KEY_GITHUB=${{ secrets.API_KEY_GITHUB }} API_KEY_NUGET=${{ secrets.API_KEY_NUGET }}
