name: Windows Build

on:
  workflow_call:
    inputs:
      is-pre-release:
        type: boolean
        required: true
      dotnet-version:
        type: string
        required: true
      is-version-branch:
        type: boolean
        required: true
      skip:
        type: boolean
        required: true

env:
  DOTNET_INSTALL_DIR: ${{ github.workspace }}/.dotnet
  VCPKG_DEFAULT_BINARY_CACHE: ${{ github.workspace }}/vcpkg-archives/

jobs:
  BuildNugetPackages-Windows:
    if: ${{ ! inputs.skip }}
    strategy:
      matrix:
        os: [windows-latest]

    runs-on: ${{ matrix.os }}
    defaults:
      run:
        working-directory: win
    steps:
      - uses: actions/checkout@v5.0.1
        with:
          fetch-depth: 0

      - name: NuGet - set credentials
        uses: ./.github/actions/set-credentials
        with:
          api-key-github: ${{ secrets.API_KEY_GITHUB }}
          api-key-nuget: ${{ secrets.API_KEY_NUGET }}
          api-user-github: ${{ secrets.API_USER_GITHUB }}
          api-user-nuget: ${{ secrets.API_USER_NUGET }}
          shell: pwsh

      - name: Cache restore
        uses: actions/cache@v4
        with:
          working-directory: ${{ github.workspace }}
          path: |
            .dotnet/
            vcpkg-archives/
          key: ${{ runner.os }}-buildx-${{ matrix.os }}-${{ github.run_id }}
          restore-keys: |
            ${{ runner.os }}-buildx-

      - name: Setup .NET Core SDK
        uses: actions/setup-dotnet@v5.0.0
        with:
          dotnet-version: ${{ inputs.dotnet-version }}

      - name: Compile GDAL and create packages
        id: compile-source
        run: |
          git config --system core.longpaths true
          ./install.ps1 -buildNumberTail ${{ github.run_number }} -preRelease $${{ inputs.is-pre-release }}
          echo "GDAL_VERSION=$env:GDAL_VERSION" | Out-File -FilePath $env:GITHUB_OUTPUT -Encoding utf8 -Append

      - name: Store metadata as artifact
        uses: actions/upload-artifact@v5.0.0
        with:
          name: metadata-win-x64
          path: |
            shared/bundle/targets/
            build-win/gdal-build/bin/gdal-config
          overwrite: true

      - name: GDAL formats windows
        uses: actions/upload-artifact@v5.0.0
        with:
          name: formats-win
          path: |
            tests/gdal-formats/formats-win/*.txt
          overwrite: true

      - name: Store packages as artifact
        uses: actions/upload-artifact@v5.0.0
        with:
          name: packages-win-x64
          path: nuget/*.nupkg
          overwrite: true

    outputs:
      gdal-version: ${{ steps.compile-source.outputs.GDAL_VERSION }}

  TestPackages-Windows:
    strategy:
      matrix:
        os: [windows-latest]
    needs: BuildNugetPackages-Windows
    runs-on: ${{ matrix.os }}
    defaults:
      run:
        working-directory: win
    env:
      GDAL_VERSION: ${{ needs.BuildNugetPackages-Windows.outputs.gdal-version }}
    steps:
      - uses: actions/checkout@v5.0.1
        with:
          fetch-depth: 0

      - name: Download artifact
        uses: actions/download-artifact@v6.0.0
        with:
          name: packages-win-x64
          path: nuget/

      - name: Setup .NET Core SDK
        uses: actions/setup-dotnet@v5.0.0
        with:
          dotnet-version: ${{ inputs.dotnet-version }}

      - name: NuGet - set credentials
        uses: ./.github/actions/set-credentials
        with:
          api-key-github: ${{ secrets.API_KEY_GITHUB }}
          api-key-nuget: ${{ secrets.API_KEY_NUGET }}
          api-user-github: ${{ secrets.API_USER_GITHUB }}
          api-user-nuget: ${{ secrets.API_USER_NUGET }}
          shell: pwsh

      - uses: actions/download-artifact@v6.0.0
        name: Download artifact - formats
        with:
          pattern: formats-win
          path: "tests/gdal-formats"
          merge-multiple: true
      
      - name: Test packages
        run: ./test.ps1 -buildNumberTail ${{ github.run_number }} -preRelease $${{ inputs.is-pre-release }}
        shell: pwsh

  PushPackages-Windows:
    needs: TestPackages-Windows
    runs-on: ubuntu-latest
    defaults:
      run:
        working-directory: unix

    steps:
      - name: Checkout repository
        uses: actions/checkout@v5.0.1

      - name: Setup .NET Core SDK
        uses: actions/setup-dotnet@v5.0.0
        with:
          dotnet-version: ${{ inputs.dotnet-version }}

      - name: Download artifact
        uses: actions/download-artifact@v6.0.0
        with:
          pattern: packages-win*
          path: nuget/

      - name: NuGet - set credentials
        uses: ./.github/actions/set-credentials
        with:
          api-key-github: ${{ secrets.API_KEY_GITHUB }}
          api-key-nuget: ${{ secrets.API_KEY_NUGET }}
          api-user-github: ${{ secrets.API_USER_GITHUB }}
          api-user-nuget: ${{ secrets.API_USER_NUGET }}
          shell: pwsh

      - name: Push packages
        if: ${{  github.event.pull_request.merged == true || github.ref == 'refs/heads/main' || fromJson(inputs.is-version-branch) }}
        run: |
          make -f push-packages-makefile BUILD_NUMBER_TAIL=${{ github.run_number }} API_KEY_GITHUB=${{ secrets.API_KEY_GITHUB }} API_KEY_NUGET=${{ secrets.API_KEY_NUGET }}
